/*----------------
 start influencer gear main all style 
 ----------------------------------------- */

/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----------------------
this is coommon all style  
-------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}


/*----------
 start header style
 ------------------  */


header {
    display: flex;
    width: 100%;
    margin-top: 80px;

}


.header-main {
    width: 40%;
    margin-left: 100px;

    border: 2px solid seagreen;
}




nav {
    width: 60%;
    padding-top: 10px;
    margin-left: 60px;

    border: 3px solid slateblue;

}

nav,
ul,
li {
    display: flex;
    font-weight: 600;
    column-gap: 34px;
}

nav,
li {

    font-size: 16px;


}

nav,
li,
a {
    text-decoration: none;
    color: black;
}

.fa-magnifying-glass {
    font-weight: 600;
    font-size: 16px;
    position: absolute;
}




/* -------------------
This is main section
--------------------- */

/* --------------
start journey and camara section 
----------------------------*/

/* -------------------
start journey section
--------------------- */
.journey-camara {
    width: 100%;
    display: flex;
    margin-top: 50px;



    border: 2px solid saddlebrown;

}



.journey {
    width: 50%;
    padding-left: 100px;

    border: 2px solid springgreen;
}

.journey-header {
    font-size: 52px;
}

.journey-details {
    font-size: 16px;

}

.bocking {
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: #FFFFFF;
    text-decoration: none;

}

.carcle {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    opacity: 0.55;


    border: 2px solid lightgreen;
}

.camara {

    padding-left: 20px;
    padding-top: 30px;


}


/* -------------------
start marketplace section
--------------------- */

.line1 {
    width: 1110px;
    height: 1px;
    margin-left: 135px;
    margin-top: 95px;

    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}


.marketplace {
    width: 910px;

    margin-left: 180px;
    margin-top: 30px;


    display: grid;
    grid-template-columns: repeat(7, 1fr);

    border: 2px solid saddlebrown;

}


.line2 {
    width: 1110px;
    height: 1px;
    margin-left: 135px;
    margin-top: 30px;

    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}



/* -------------------
start content products section
--------------------- */

.content-products {
    width: 1100px;
    padding-left: 165px;
    border: 2px solid gold;

}



.products-header {
    padding-left: 350px;
    margin: 33px;
    font-size: 28px;
    font-weight: 600;


}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin: 0px;
}




.product {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}


.product-img {
    padding: 15px;
    width: 295px;
    height: 226px;
    border-radius: 5px;

}

.product-content {
    padding: 15px;
}


.product-heading {
    margin: 0px;
    font-size: 28px;
    font-weight: 500;

}

.amount {
    font-size: 24px;
    margin: 0px;
}

.fa-star,
.fa-star-half-stroke {
    color: #FB8200;
    font-size: 12px;
}

.star-rating {
    font-size: 12px;
    color: #5E6366;
}


.product-details {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}



.see-more {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;


    width: 99px;
    height: 24px;
    margin-left: 924px;



}


/* ----------------
start featured style
---------------------- */

.featured {
    width: 100%;
    display: flex;
    margin-top: 50px;

    border: 2px solid springgreen;

}

.featured-img {
    padding-left: 10%;
    width: 30%;


    border: 2px solid slateblue;

}

.featured-contant {
    width: 610px;
    padding-left: 5%;

    border: 2px solid seagreen;

}



.featured-header {
    font-weight: 700;
    font-size: 38px;
}

.featured-detail {
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;

}



.join-now {
    text-decoration: none;
    padding: 10px 24px;
    gap: 8px;
    background-color: #E02C6D;
    color: #FFFFFF;

}




/* -------------------
start footer section 
--------------------------*/


footer {
    position: relative;
    width: 100%;
    height: 239px;
    margin-top: 70px;
    background: #0A0826;

    border: 2px solid skyblue;
}

.footer-content {

    width: 262px;
    margin-left: 549px;
    margin-top: 40px;
    text-align: center;

    border: 2px solid sandybrown;
}


.footer-header {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
}

.copyright {
    color: #D9DBE1;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #D9DBE1;


}

.footer-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    margin-top: 20px;
}


.fa-brands {
    color: #FFFFFF;
}




/*---------------------------
      Midia Quaries 
      --------------------------*/

/* Use for Mobile device */


@media only screen and (max-width:688px) {


    header {
        flex-direction: column;
    }

    .header-main {
        width: auto;
    }

    nav {
        margin-left: 0px;
    }

    nav,
    ul,
    li {
        padding-left: 2px;
    }

    .journey-camara {
        flex-direction: column-reverse;
        width: 100%;
    }

    .journey {
        width: 70%;
    }

    .journey-header {
        width: auto;
    }

    .camara {
        width: auto;
    }

    .line1,
    .line2 {
        display: none;
    }

    .marketplace {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        margin-left: 0px;

    }

    .products {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-row-gap: 30px;
    }

    .products-header {
        padding-left: 2px;
    }

    .content-products {
        padding-left: 5%;
    }

    .featured {
        flex-direction: column;

    }

    .featured-img {
        padding-left: 0px;
    }

    .featured-contant {
        width: 70%;
    }



    .product {
        padding-left: -40px;
    }

    .product {
        flex-direction: column;
    }


    .footer-content {
        margin-left: 20%;
    }

}